# venv
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store

# Uploads and Outputs
uploads/
outputs/
.last_run

# Project specific
*.xlsx
*.csv
*.zip
*.log
*.pkl

# IDEs
.vscode/
.idea/
.cursorignore
.cursorindexingignore
