server {
    listen 80;
    server_name paniaguapalacios.com www.paniaguapalacios.com;

    location / {
        include proxy_params;
        proxy_pass http://unix:/tmp/suite_financiera.sock;
        proxy_read_timeout 300s;
    }
    
    client_max_body_size 50M;
}
